<main>
    <h1>Delete Car</h1>
    <div class="form">
        <form method="POST">
            <label for="mark">Mark</label>
            <input type="text" id="mark" value="{{car.mark}}" name="mark">
            <label for="model">Model</label>
            <input type="text" id="model" value="{{car.model}}" name="model">
            <label for="gen">Gen</label>
            <input type="text" name="gen" value="{{car.gen}}" id="gen">
            <label for="image">ImageUrl</label>
            <input type="text" id="image" value="{{car.imageUrl}}" name="imageUrl">
            <label for="name">Description</label>
            <textarea id="name" name="description">{{car.description}}</textarea>
            <input type="submit" value="Delete">
        </form>
    </div>
</main>