<main>
	<h1>{{car.mark}}</h1>
	<img class="cube" src="{{car.imageUrl}}" />
	<div class="details">
		<p><span>Model:</span>{{car.model}}</p>
		<p><span>Gen:</span>{{car.gen}}</p>
		<p><span>Description:</span>{{car.description}}</p>
		<a class="btn" href="/">Back</a>
		<a class="btn" href="/car/{{car._id}}/attach">Attach</a>
		<a class="btn" href="/car/{{car._id}}/edit">Edit</a>
	</div>
	<h2>Accessories</h2>
	<div class="accessories">

		{{#each car.accessory}}
			{{> accessory}}
		{{else}}
		<h3 class="italic">This cube has no accessories yet...</h3>
		{{/each}}
	</div>
</main>