<main>
  <h1>{{ cars.mark }}</h1>
  <img class="cube" src="{{car.imageUrl}}">
  <div class="details">
    <p><span>Description:</span> {{cars.description}}</p>
    <p><span>Model:</span> {{cars.model}}</p>
    <p><span>Gen:</span> {{cars.gen}}</p>
    <a class="btn" href="/">Back</a>
  </div>
</main>