<main>
  <h1>{{ car.mark }}</h1>
  <img class="cube" src="{{car.imageUrl}}">
  <div class="details">
    <p><span>Model:</span> {{car.model}}</p>
    <p><span>Gen:</span> {{car.gen}}</p>
    <p><span>Description:</span> {{car.description}}</p>
    <a class="btn" href="/">Back</a>
  </div>
</main>