<div class="cube">
    <img class="cube" src="{{imageUrl}}">
    <p class="name">{{mark}}</p>
    <p><span>Model:</span> {{model}}</p>
    <p><span>Gen:</span> {{gen}}</p>
    <a class="btn" href="/car/details/{{_id}}">Details</a>
</div>
